@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');

html, body{
	padding:0;
	margin:0;
	background-color: #b8719d;
	display:flex;
	justify-content: center;
	align-items:center;
	text-align: center;
	height:100vh;
}
.st3{
	fill:#4d4d4d;
}
#clock{
	width:80vh;
}
.clockFaceDown{
	stroke:#4d4d4d;
	stroke-width:3px;
}
.logo{
	font-family: 'Poiret One', cursive;
	font-size:52px;
	transform-origin: 500px 500px;
	transform: translate(420px, 370px);
	color:#333;
}
.second, .minute, .hour{
	transform-origin: 500px 500px;
	transform:rotate(90deg);
	transition:all 0.1s ease;
	box-shadow: 100px 100px 50px 0px rgba(0,0,0,0.75);
}
.second{
	transition:all 0.05s cubic-bezier(0, 0, 0, 2.4);
	transform:rotate(90deg);
}